<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/home">
      <img src="assets/profile.png" alt="logo" style="max-height: 200px; border-radius: 50%;">
    </a>

    @if (currentUser != null) {
      <div class="ms-auto d-flex align-items-center gap-3 flex-wrap">

        <a class="nav-btn home-btn me-2"
            (click)="goHome()"
            >
            <img src="assets/home.png" alt="" style="height: 24px; width: 24px;" >
            Home
          </a>

        <!-- Navigation for User Role -->
        @if (currentUser.role === 'User') {
          <a class="nav-btn exams-btn me-2"
            (click)="goAvailableExams()"
            >
            <img src="assets/add.png" alt="" style="height: 24px; width: 24px;" >
            Available Exams
          </a>
          <a class="nav-btn taken-btn"
            (click)="goTakeExams()">
            <img src="assets/tick.png" alt="" style="height: 24px; width: 24px;" >
            Taken Exams
          </a>
        }

        <!-- Welcome Text -->
        <div class="text-white">
          <span class="fw-semibold">Welcome,</span> {{ currentUser.username }}
        </div>

        <!-- User Role Badge -->
        <span class="badge rounded-pill px-3 py-2"

              [ngClass]="{
                'bg-success': currentUser.role === 'Admin',
                'bg-primary': currentUser.role === 'User'
              }">
              <img src="assets/user.png" alt="" style="height: 24px; width: 24px;" >
          {{ currentUser.role }}
        </span>

        <!-- Logout Button -->
        <button class="nav-btn home-btn me-2" (click)="logout()">
          <img src="assets/logout.png" alt="" style="height: 24px; width: 24px;" >
          Logout
        </button>
      </div>
    }
  </div>
</nav>

