.custom-purple-btn {
  background-color: #9569FC;
  border: none;
  color: #1f1f1f;
  font-weight: 500;
}

.custom-purple-btn:hover {
  background-color: #7237FB;
  color: #000;
}

.exam-card {
  background-color: #EDE6FE;
  border-radius: 1rem;
  border: 1px solid #B89BFD;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.exam-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}
