  <div class="card border-0 shadow-sm" style="background-color: #DCCDFE;">
    <div class="card-body">
      <h5 class="card-title" style="background-color: #DCCDFE;">{{ exam.name }}</h5>
      <p class="card-text" style="color: #3F04C8;"><strong>Duration:</strong> {{ exam.durationInMinutes }} min</p>
      <p class="card-text" style="color: #3F04C8;"><strong>Total Points:</strong> {{ exam.totalPoints }}</p>
      <button class="btn" style="background-color: #3F04C8; color: white;" (click)="goEnterExam(exam.id)">Enter</button>
    </div>
  </div>
